{% extends 'admin_base_template.html' %}
{%load i18n%}
{% block chatContent %}
<div class="row">
  <div class="col-8">
    <!-- column 1 row 1 -->
    <div class="row">
      <div class="col-md-12 col-xl-6">
        <div class="card flat-card">
          <div class="row-table">
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>10k</h5>
                  <span>All Read Messages</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>100%</h5>
                  <span>All new Messages</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row-table">
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>2000 +</h5>
                  <span>Replied Messages</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>120</h5>
                  <span>unreplied messages</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- widget primary card start -->
        <div class="card flat-card widget-primary-card">
          <div class="row-table">
            <div class="col-sm-3 card-body">
              <i class="feather icon-star-on"></i>
            </div>
            <div class="col-sm-9">
              <h4>4000 +</h4>
              <h6>Most active user</h6>
            </div>
          </div>
        </div>
        <!-- widget primary card end -->
      </div>
      <div class="col-md-12 col-xl-6">
        <div class="card flat-card">
          <div class="row-table">
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-share-2 text-c-blue mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>1000</h5>
                  <span>Number of users</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-wifi text-c-blue mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>600</h5>
                  <span>outside users</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row-table">
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-rotate-ccw text-c-blue mb-1 d-block"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>3550</h5>
                  <span>internal users</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body">
              <div class="row">
                <div class="col-sm-4">
                  <i class="icon feather icon-shopping-cart text-c-blue mb-1 d-blockz"></i>
                </div>
                <div class="col-sm-8 text-md-center">
                  <h5>100%</h5>
                  <span>Active users, 1 week</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- widget-success-card start -->
        <div class="card flat-card widget-purple-card">
          <div class="row-table">
            <div class="col-sm-3 card-body">
              <i class="fas fa-trophy"></i>
            </div>
            <div class="col-sm-9">
              <h4>17</h4>
              <h6>Common keywords</h6>
            </div>
          </div>
        </div>
        <!-- widget-success-card end -->
      </div>
    </div><!-- end col1 row1 -->
    
    <!-- col1 row 2 -->
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>Messages</h5>          
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>
                      <div class="chk-option">
                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                          <input type="checkbox" class="custom-control-input" id="check-all">
                          <span class="custom-control-label"></span>
                        </label>
                      </div>
                      Title
                    </th>
                    <th>To</th>
                    <th>Sent Date</th>
                    <th class="text-right">Viewed</th>
                  </tr>
                </thead>
                <tbody>                                                   
                  <tbody>
                    {% for chat in chats %}
                    {% if chat.is_viewed %}
                    <!-- set the eye to open if the message has not yet been viewed. -->
                    <tr >
                      <td>
                        <div class="chk-option">
                          <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                            <input type="checkbox" name="selected_chats" class="checkbox custom-control-input" value="{{chat.id}}">
                            <span class="custom-control-label"></span>
                          </label>
                        </div>
                        <div class="d-inline-block" style="width:20rem;overflow:hidden;text-overflow:ellipsis">
                          <a href="{% url 'chatDetails' chat.id%}">
                          {{chat.chatTitle}}</a>
                        </div>
                      </td>
                      <td>{{chat.chatReceiver_username}}</td>
                      <td>{{chat.createdDate}}</td>
                      <td class="text-right"><i class="feather icon-eye-off" style="font-weight: bold;"></i></td>
                    </tr>
                    {%else%}
                    <tr style="font-weight:bolder">
                      <td>
                        <div class="chk-option">
                          <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                            <input type="checkbox" name="selected_chats" class="checkbox custom-control-input" value="{{chat.id}}">
                            <span class="custom-control-label"></span>
                          </label>
                        </div>
                        <div class="d-inline-block" style="width:20rem;overflow:hidden;text-overflow:ellipsis">
                          <a href="{% url 'chatDetails' chat.id%}">
                            {{chat.chatTitle}}
                          </a>
                        </div>
                      </td>
                      <td>{{chat.chatReceiver_username}}</td>
                      <td>{{chat.createdDate}}</td>
                      <td class="text-right"><i class="feather icon-eye-off" style="font-weight: bold;"></i></td>
                    </tr>
                    {%endif%}
                    {% endfor %}
                  </tbody>
                </tbody>
              </table>            
              <div class="pagination">
                <span class="step-links">
                    {% if chats.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ chats.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ chats.number }} of {{ chats.paginator.num_pages }}.
                    </span>

                    {% if chats.has_next %}
                        <a href="?page={{ chats.next_page_number }}">next</a>
                        <a href="?page={{ chats.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col1 row2 -->
  </div>
  <!-- updates columns -->
  <div class="col-4">
    <div class="col-xl-12 col-md-12">
      <div class="card latest-update-card">
        <div class="card-header">
          <h5>Latest Updates</h5>          
        </div>
        <div class="card-body">
          <div class="latest-update-box">
            <div class="row p-t-30 p-b-30">
              <div class="col-auto text-right update-meta">
                <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
                <i class="feather icon-twitter bg-twitter update-icon"></i>
              </div>
              <div class="col">
                <a href="#!">
                  <h6>+ 1652 Followers</h6>
                </a>
                <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
              </div>
            </div>
            <div class="row p-b-30">
              <div class="col-auto text-right update-meta">
                <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
                <i class="feather icon-briefcase bg-c-red update-icon"></i>
              </div>
              <div class="col">
                <a href="#!">
                  <h6>+ 5 New Products were added!</h6>
                </a>
                <p class="text-muted m-b-0">Congratulations!</p>
              </div>
            </div>
            <div class="row p-b-0">
              <div class="col-auto text-right update-meta">
                <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
                <i class="feather icon-facebook bg-facebook update-icon"></i>
              </div>
              <div class="col">
                <a href="#!">
                  <h6>+1 Friend Requests</h6>
                </a>
                <p class="text-muted m-b-10">This is great, keep it up!</p>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td class="b-none">
                          <a href="#!" class="align-middle">
                            <img src="assets/images/user/avatar-2.jpg" alt="user image"
                              class="img-radius wid-40 align-top m-r-15">
                            <div class="d-inline-block">
                              <h6>Jeny William</h6>
                              <p class="text-muted m-b-0">Graphic Designer</p>
                            </div>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="#!" class="b-b-primary text-primary">View all Projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}