{% extends 'chat.html' %}
{% load i18n %}
{% load static %}

{%block chatDeatils%}
<div class="row m-b-20 send-chat">
    <div class="col">
        <div class="msg">
            <p class="m-b-0">
                <div class="chatContentDiv">{{ object.chatContent }}</div>
            </p>
        </div>
        <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>{{ object.createdData|date:'Y/m/d' }}</p>
    </div>
    <div class="col-auto p-l-0">
        <img src="{% static 'images/user/avatar-2.jpg' %}" alt="user image" class="img-radius wid-40">
    </div>
</div>

{% if replys %}
    {% for obj in replys %}
        <div class="row m-b-20 received-chat">
            <div class="col-auto p-r-0">
                <img src="{% static 'images/user/avatar-1.jpg' %}" alt="user image" class="img-radius wid-40">
            </div>
            <div class="col">
                <div class="msg">
                    <p class="m-b-0">
                        <div class="chatContentDiv">{{obj.replyContent}}</div>
                    </p>
                </div>
                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>{{ obj.replyDate|date:'Y/m/d' }}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}

<style>
    .chatContentDiv {
        position: relative;
        height: 50%;
        width: 200px;
        margin:auto;
        text-align:left;
        overflow-wrap: break-word !important;
    }
</style>

{%endblock%}


