{% extends "base_landing.html" %}
{% load static %}
{% load i18n %}

<!-- title -->
{%block title%}
Team Members Edit
{%endblock%}

<!-- scripts and styles -->
{%block style%}
{%endblock%}


<!-- main starts -->
<!-- [ breadcrumb ] start -->
{%block breadcrumbs%}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">{% trans 'Edit Team'%}</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/workspace"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Team</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}
<!-- breadcrumb ends -->

<!-- content start -->
{% block content %}
<div class="row">
    <h1>{% trans 'Create a New Team'%}</h1>
</div>
<hr>
<form method="POST" action="">
    {% csrf_token %}
    <div class="row" style="display:flex; align-items: stretch;">
        <!-- [ sample-page ] start -->
        <div class="col-md-12 col-xl-4">

            <div class="card" style="min-height: 600px;">
                <h5 class="card-header">{% trans 'Team Information'%}</h5>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert bg-{% if message.tags == 'error'%}danger{%else%}{{ message.tags }}{%endif%} text-light p-3" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
                            {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
                <div class="card-body">
                    <!-- <h5 class="card-title">Special title treatment</h5> -->

                    <div class="form-group">
                        <label for="team_code">{% trans 'Team Code'%}:</label>
                        <input type="text" id="team_code" name="team_code" class="form-control" value="{{team_code}}"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="team_name">{% trans 'Team Name'%}:</label>
                        <input type="text" id="team_name" name="team_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="team_institution">{% trans 'Team Institution'%}:</label>
                        <select id="team_institution" name="team_institution" class="form-control" required>
                            <option value="">--Select--</option>
                            <option value="NYCU">{% trans 'National Yang Ming Chiao Tung University'%}</option>
                            <option value="NTU">{% trans 'National Taiwan University'%}</option>
                            <option value="NCHU">{% trans 'National Chung Hsing University'%}</option>
                            <option value="NTHU">{% trans 'National Tsing Hua University'%}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="topic">Topic:</label>
                        <select id="topic" name="topic" class="form-control">
                            <option value="">--Select--</option>
                            {%for topic in topics%}
                            <option value="{{topic.0}}">{{topic.1}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">

                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans 'Team Members'%}</h5>
                    {% trans '<span class="d-block m-t-5">Only the first <strong>two</strong> are compulsory</span>'%}
                </div>
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-inverse">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Name'%}</th>
                                    <th>{% trans 'Email'%}</th>
                                    <th>{% trans 'Role'%}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span style="color: tomato;">*</span> 1</td>
                                    <td>
                                        <input class="form-control" type="text" id="name_1" name="members[1][name]" required>
                                    </td>
                                    <td>
                                        <input class="form-control" type="email" id="email_1" name="members[1][email]" required>
                                    </td>
                                    <td>
                                        <select class="form-control" name="members[1][role]" id="" required>
                                            <option value="">Select</option>
                                            <option value="member">{% trans 'Member'%}</option>
                                            <option value="coordinator" selected>{% trans 'Coordinator'%}</option>
                                        </select>
                                    </td>
                                </tr> 
                                <tr>
                                    <td><span style="color: tomato;">*</span>2</td>
                                    <td>
                                        <input class="form-control" type="text" id="name_2" name="members[2][name]" required>
                                    </td>
                                    <td>
                                        <input class="form-control" type="email" id="email_2" name="members[2][email]" required>
                                    </td>
                                    <td>
                                        <select class="form-control" name="members[2][role]" id="" required>
                                            <option value="">Select</option>
                                            <option value="member" selected>{% trans 'Member'%}</option>
                                            <option value="coordinator">{% trans 'Coordinator'%}</option>
                                        </select>
                                    </td>
                                </tr>                                
                                <!-- {% for i in '345' %}
                                <tr>
                                    <td>{{i}}</td>
                                    <td>
                                        <input class="form-control" type="text" id="name_{{ i }}"
                                            name="members[{{ i }}][name]">
                                    </td>
                                    <td>
                                        <input class="form-control" type="email" id="email_{{ i }}"
                                            name="members[{{ i }}][email]">
                                    </td>
                                    <td>
                                        <select class="form-control" name="members[{{ i }}][role]" id="">
                                            <option value="">Select</option>
                                            <option value="member" selected>{% trans 'Member'%}</option>
                                            <option value="coordinator">{% trans 'Coordinator'%}</option>
                                        </select>

                                    </td>
                                </tr>
                                {% endfor %} -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
</form>

{% include 'notification.html' %}
{%endblock%}
<!-- content ends -->
<!-- main ends -->